.mainContent {
  width: 100%;
  min-height: calc(100vh - 15px);
  display: flex;


  .innerContent {
    background-color: #333;
    color: #fff;
    position: relative;
    padding-top: 30px;
    flex-grow: 12;
    flex-shrink: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    overflow: hidden;

    .content {
      width: 90%;

      span {
        display: block;
        font-size: 1.8em;
        letter-spacing: 2px;
        margin: 10px;
        color: #dc736d;
      }
    }
  }
}

.fade-leave.fade-leave-active {
  .content-enter.content-enter-active {
    display: none;
  }
}

.fade-enter {
  position: absolute;
  top: -50px;
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  top: 30px;
  transition: all 0.3s ease-in;
}

.fade-leave {
  position: absolute;
  transform-origin: 0 100%;
  top: 30px;
  transform: rotateZ(0deg);
  opacity: 1;
  z-index: 2;
}

.fade-leave.fade-leave-active {
  top: 50px;
  transform: rotateZ(45deg);
  opacity: 0;
  transition: all 0.5s ease-in;
}

form {
  display: flex;
  justify-content: space-around;
  margin: 20px auto;

  input {
    padding: 7px;
    font-size: 1.8em;
    border-radius: 4px;
    border: none;
    outline: none;
    font-weight: 100;
  }
}

.usersList {

  ul {

    li {
      display: flex;
      align-items: baseline;
      padding: 10px 0;
      border-left: 1px solid #bbb;
      border-right: 1px solid #bbb;

      h2 {
        flex-grow: 3;
        flex-basis: 0;
      }

      p {
        flex-grow: 2;
        flex-basis: 0;
        border-left: 1px solid #bbb;
      }

      &:first-child {
        padding: 20px 0;
        border-top: 1px solid #bbb;
        border-bottom: 1px solid #bbb;
      }
      &:last-child {
        border-bottom: 1px solid #bbb;
      }
    }

    .active {
      background-color: #444;
    }
  }
}